<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <meta charset="utf-8">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <title>Vue - email list</title>
    </head>
    <body>
        <div id="root">
            <div class="email-list-container" v-if="emails.length == 10">
                <h1>LISTA EMAILS</h1>
                <ul class="email-list">
                    <li v-for="email in emails">{{ email }}</li>
                </ul>
            </div>
        </div>

        <!-- <script src="main.js" charset="utf-8"></script> -->
        <!-- Versione con controlli -->
        <script src="versione-con-controllo/main.js" charset="utf-8"></script>
    </body>
</html>
